/* MAIN TITLE */

.main_title-light {
    /* margin-top: 100px; */
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}


/* MAIN CONTAINER */

.container-light {
    max-width: 1400px;
    border: 3px solid #000;
    margin: 0 auto;
}


/* RENDER LIST MOVIES */

.list-light {
    list-style-type: none;
    max-width: 400px;
    border: 3px solid #000;
    border-radius: 20px;
    margin: 10px 10px;
}

.title_list-light {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.list_overview-light {
    margin: 20px 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: justify;
}


/* POPULARITY RATE */

.popularity_text-light {
    font-size: 16px;
    font-weight: 700;
}

.popularity_rate-light {
    font-size: 16px;
}

.button_rate-light {
    margin: 0 auto;
    width: 150px;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 5px;
    background: #fff;
    padding: 8px 16px;
    font-size: 16px;
    color: #000;
}


/* PAGINATION */

.pagination_btn-light {
    margin: 0 20px;
    width: 150px;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 5px;
    background: #fff;
    padding: 8px 16px;
    font-size: 16px;
    color: #000;
}

.pagination_btn-light:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}


/* THEME BUTTON */

.select_theme-text-light {
    padding-right: 10px;
}

.select_theme-btn-light {
    width: 80px;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 5px;
    background: #fff;
    font-size: 16px;
}